:root {
  --textcolour-ltl-grey: #404040;
  --colour-ltl-loader-grey: #f3f3f3;
  --colour-ltl-blue: #2d6a89;
  --colour-ltl-orange: #f6a85c;
  --colour-ltl-darkorange: #b96109;
  --colour-ltl-green: #afcd4b;
  --colour-ltl-darkgreen: #0d633f;
  --colour-ltl-purple: #7e354f;
  --colour-ltl-red: #830415;
  --font-family-ltl-heading: "Special Elite", Times, serif;
  --font-family-ltl-body: Ubuntu, sans-serif;
  --font-family-ltl-bold: Ubuntu-Bold, Ubuntu, sans-serif;
}

body {
  /* webpackIgnore: true */
  background-image: url(/survey/assets/Background_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.background-overlay {
  /* webpackIgnore: true */
  background-image: url(/survey/assets/LTL_partial_logo_white.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
}

/** Generic elements and formatting **/

.loader {
  border: 5px solid transparent;
  border-top: 5px solid var(--colour-ltl-loader-grey);
  border-left: 5px solid var(--colour-ltl-loader-grey);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.root,
.dialog,
.nav-menu-container.popup,
textarea {
  font-family: var(--font-family-ltl-body);
  font-size: 18px;
  color: var(--textcolour-ltl-grey);
}

.dialog button,
.section.get-started button,
.submit-survey-button,
.previous-section-button,
.next-section-button,
.add-photos-button,
.add-note-button {
  border: 0;
  font-family: var(--font-family-ltl-bold);
  font-weight: bold;
}

/* Icon buttons - remove default styling */
.add-note-button,
.add-photos-button,
.previous-section-button,
.next-section-button,
.menu-button {
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

/* Modal containers */

#confirm-dialog-container,
#dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Static shadows **/

.app-bar,
.dialog,
.section .mobile-header,
.dialog.add-note textarea,
.question textarea:hover,
.question textarea:focus,
.question input[type="text"]:hover,
.question input[type="text"]:focus,
.photo-container textarea:hover,
.photo-container textarea:focus,
.toggle-button-group {
  box-shadow: 0px 2px 4px #00000080;
}

.nav-menu-container.popup {
  box-shadow: 0px 8px 10px;
}

.section {
  box-shadow: 5px 5px 5px #00000080;
}

/** Active shadows **/

.app-bar #auth-signout,
.app-bar .download-button,
.app-bar #restart-button,
.section.authenticator button,
.dialog button,
.submit-survey-button,
.section.get-started button,
.previous-section-button,
.next-section-button {
  box-shadow: 0px 2px 4px #00000080;
}

.app-bar #auth-signout:active,
.app-bar .download-button:active,
.app-bar #restart-button:active,
.section.authenticator button:disabled,
.section.authenticator button:active,
.dialog button:active,
.submit-survey-button:active,
.section.get-started button:active,
.previous-section-button:active,
.next-section-button:active {
  box-shadow: none;
}

/* Override for non-shadowed links */
.section.authenticator button.inline-action,
.section.authenticator button.tooltip.small,
.dialog .photo-container button.delete-button {
  box-shadow: none;
}

/** App bar - common **/

.app-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 180px;
  width: 100%;
  z-index: 1100;
  /* webpackIgnore: true */
  background-image: url(/survey/assets/background-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.app-bar .environment-name {
  position: fixed;
  color: white;
  left: 120px;
  top: 0px;
  font-size: 20px;
  background-color: darkgray;
  padding: 5px 20px;
  font-weight: bold;
}

.app-bar .title-logo {
  position: fixed;
  left: 20px;
  top: 18px;
  height: 143px;
}

.app-bar .title {
  font-family: var(--font-family-ltl-heading);
  font-size: 44px;
  color: white;
  text-align: center;
  font-weight: normal;
}
.app-bar.main .title {
  margin-left: 130px;
  margin-right: 130px;
}

.app-bar #auth-signout,
.app-bar .download-button,
.app-bar #restart-button {
  position: absolute;
  width: 100px;
  height: 40px;
  right: 20px;
  font-size: 12px;
  font-weight: normal;
  border: none;
}
.app-bar #auth-signout {
  background-color: var(--colour-ltl-blue);
  color: white;
  top: 70px;
}
.app-bar #restart-button {
  background-color: var(--colour-ltl-orange);
  color: black;
  top: 120px;
}
.app-bar .download-button {
  background-color: var(--colour-ltl-green);
  color: black;
  top: 20px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.app-bar .download-button span.small {
  display: none;
}

.app-bar .auth-current-user {
  display: block;
  position: absolute;
  left: 20px;
  top: 150px;
  font-weight: bold;
  font-size: 15px;
}

.app-bar .auth-current-user .intro-text {
  color: var(--colour-ltl-orange);
}

.app-bar .auth-current-user .email {
  color: white;
}

/* App bar - authenticating */
.app-bar.authenticating .title.large {
  margin-left: 120px;
  margin-right: 120px;
}
.app-bar.authenticating .title.small {
  display: none;
}

/* App bar - main */

.app-bar.main .menu-button {
  display: none;
}

/** Nav menu - common **/
.nav-menu-container {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 380px;
  z-index: 1200;
}

.nav-menu {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.nav-menu-item {
  padding: 16px 5px;
  margin: 8px 28px 8px 8px;
  border: solid 1px var(--colour-ltl-orange);
  position: relative;
  font-size: 18px;
}

.nav-menu-item.selected {
  background-color: var(--colour-ltl-orange);
}

.nav-menu-item#introduction {
  border-color: black;
}

.nav-menu-item#results,
.nav-menu-item#gallery {
  border-color: var(--colour-ltl-purple);
}

.nav-menu-item#submit {
  border-color: var(--colour-ltl-blue);
}

.nav-menu-item .section-number {
  font-weight: bold;
  padding-right: 10px;
}

.nav-menu-item .section-title {
  font-family: var(--font-family-ltl-heading);
}

.nav-menu-item .nav-menu-item-progress {
  position: absolute;
  right: -20px;
  top: 4px;
  display: inline-flex;
  font-size: 14px;
}

/** Nav menu - fixed **/
.nav-menu-container.fixed {
  margin-top: 180px;
}

/** Nav menu - popup**/
.nav-menu-popup-modal {
  display: none;
}

/** content - common **/

.content {
  width: 100%;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
}

.content.main {
  margin-left: 380px;
  align-items: stretch;
}

.content.authenticating {
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 40px;
  padding: 30px 50px;
}

.section .mobile-header {
  display: none;
}

.section .title {
  font-family: var(--font-family-ltl-heading);
  text-align: center;
}

.bottom-navigation {
  width: 100%;
  position: relative;
  height: 50px;
  margin-top: 50px;
}

.previous-section-button,
.next-section-button {
  position: absolute;
  display: flex;
}

.previous-section-button.hidden,
.next-section-button.hidden {
  display: none;
}

.previous-section-button {
  left: 50%;
  margin-left: -160px;
}

.next-section-button {
  right: 50%;
  margin-right: -160px;
}

/** Get started section **/

.section.get-started {
  align-items: center;
  width: 50%;
  padding: 50px;
}

.section.get-started p {
  align-self: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

/** Introduction section **/

.section.introduction p {
  text-align: justify;
}

.section.introduction .icons-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
.section.introduction .icons-group .icon-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section.introduction .icons-group .icon-description:not(:first-child) {
  margin-left: 50px;
}

.section.introduction .icons-group .icon-description svg {
  flex-grow: 0;
  flex-shrink: 0;
}

/** Background section **/

.section.background .question {
  padding-bottom: 0;
  padding-top: 20px;
}

.section.background label {
  padding-top: 0;
  padding-bottom: 5px;
}

.section.background .question.user-select {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.section.background .question.user-select .details-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.section.background .question.user-select .selection-column {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.section.background .question.user-select .toggle-button-group {
  margin-left: 10px;
}

.section.background .question.user-select .toggle-button-group button {
  width: 100px;
}

.section.background .question.user-select .title-label {
  margin-bottom: 5px;
}

/** Photo gallery section **/

.section.gallery {
  align-items: stretch;
}
.section.gallery .section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section.gallery .section-header label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section.gallery .section-header label .label-text {
  font-family: var(--font-family-ltl-bold);
  font-weight: bold;
  font-size: 14px;
}

.section.gallery .section-header label svg {
  margin-left: 10px;
}

/** Results charts section **/

.section.results h2 {
  font-family: var(--font-family-ltl-heading);
  font-size: 24px;
  font-weight: normal;
  margin-left: 30px;
}

.section.results .results-chart {
  position: relative;
  margin-left: 40px;
  margin-right: 20px;
}
.section.results .results-chart.five-bars {
  height: 415px;
}
.section.results .results-chart.two-bars {
  height: 190px;
}

.section.results .small-chart {
  display: none !important;
}

.section.results .text-good {
  color: var(--colour-ltl-darkgreen);
}
.section.results .text-bad {
  color: var(--colour-ltl-red);
}
.section.results .text-ok {
  color: var(--colour-ltl-darkorange);
}


/** Submit section **/

.section.submit,
.section.submit .submit-content {
  align-items: center;
}

.section.submit p {
  text-align: justify;
  width: 100%;
}

/** Dialogs common **/

.dialog {
  width: 60%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: solid 1px var(--colour-ltl-orange);
}

.dialog .title {
  font-family: var(--font-family-ltl-heading);
  font-size: 36px;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

.dialog.add-note .question-line,
.dialog.add-photos .question-line {
  padding: 0;
  margin-bottom: 20px;
}

/** Confirm add photos dialog **/

.dialog.confirm-add-photos {
  width: 40%;
}

/** Add note dialog **/

.dialog.add-note .question-text {
  margin-right: 0;
  margin-left: 50px;
}

.dialog.add-note textarea {
  align-self: stretch;
  margin: 0;
}

/** Add photo dialog **/

.dialog.add-photos {
  max-height: 80vh;
}

.dialog.add-photos .add-photos-scroll {
  overflow-y: auto;
  width: 100%;
}

.dialog.add-photos .photo-container {
  flex-wrap: nowrap;
}

.dialog.add-photos .question-line label {
  position: absolute;
  right: 0;
  top: -15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dialog.add-photos .question-line label .label-text {
  font-family: var(--font-family-ltl-bold);
  font-weight: bold;
  font-size: 14px;
}

.dialog.add-photos .question-line label svg {
  margin-left: 10px;
}

.dialog.add-photos .question-text {
  margin-right: 110px;
  margin-left: 50px;
}

/** Submit progress dialog **/

.dialog.submit .progress-bar {
  background-color: #f1f1f1;
  width: 80%;
}

.dialog.submit .progress-bar-active {
  background-color: var(--colour-ltl-green);
  height: 20px;
}

.dialog.submit .submission-status {
  margin: 20px;
}

.action-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.action-row .action-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.toggle-button-group {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.toggle-button-group button {
  background-color: #fafafa;
  border: 1px solid #cec6c6;
  cursor: pointer;
  float: left;
  text-transform: uppercase;
  font-family: var(--font-family-ltl-bold);
  font-size: 12px;
  font-weight: bold;
  width: 157px;
  height: 37px;
}
.toggle-button-group button:hover {
  background-color: #d7e6a5;
}
.toggle-button-group button.selected {
  background-color: var(--colour-ltl-green);
}
.toggle-button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/** Photos (in gallery section and add photo dialog) **/

.photo-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: grey 2px solid;
  align-items: flex-start;
  position: relative;
}

.photo-container .photo {
  max-width: 40%;
  width: 40%;
  margin: 5px;
}

.photo-container .delete-button {
  margin: 5px;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.photo-container textarea {
  margin: 5px;
  width: 100%;
  min-width: 50px;
  box-sizing: border-box;
  align-self: stretch;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}
.question-line {
  position: relative;
  width: 100%;
  padding: 20px 0;
}
.question-number {
  position: absolute;
}
.question-text {
  margin-left: 50px;
  margin-right: 50px;
}

.add-note-button,
.add-photos-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question.dated .question-line .add-photos-button,
.question.text .question-line .add-photos-button {
  position: absolute;
  top: 15px;
  right: 0;
}

.question.text .question-line .question-text,
.question.dated .question-line .question-text {
  margin-right: 155px;
  min-height: 60px;
}

.question.select .add-note-button {
  padding-left: 30px;
}

.question.select .add-photos-button {
  margin-left: 10px;
}

.question-divider {
  border: 1px solid var(--colour-ltl-green);
  border-radius: 1px;
  width: 50px;
}
.subsection-divider {
  border: 1px solid var(--colour-ltl-orange);
  border-radius: 1px;
  width: 200px;
}

.question input[type="text"] {
  height: 39px;
  border: solid 1px black;
  padding: 5px 10px;
}

.dialog textarea,
.question textarea,
.photo-container textarea {
  resize: none;
  border: solid 1px black;
  padding: 5px 10px;
}

.dialog.add-note textarea,
.question textarea {
  margin-left: 50px;
}

.dialog button,
.submit-survey-button,
.section.get-started button {
  margin-top: 20px;
  background-color: var(--colour-ltl-orange);
  width: 160px;
  height: 40px;
  min-height: 40px;
  font-family: var(--font-family-ltl-bold);
  font-weight: bold;
  font-size: 12px;
}

.question.dated .dated-improvement-answer {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.question.dated .dated-improvement-answer .improvement,
.question.dated .dated-improvement-answer .year {
  display: flex;
  flex-direction: column;
}

.question.dated .dated-improvement-answer .improvement {
  flex-grow: 1;
}

.question.dated .dated-improvement-answer .year {
  margin-left: 5px;
}
.question.dated .dated-improvement-answer label {
  padding-top: 5px;
  padding-bottom: 5px;
}
.question.dated .dated-improvement-answer .improvement input {
  width: 100%;
  height: 51px;
  box-sizing: border-box;
}
.question.dated .dated-improvement-answer .year input {
  width: 5rem;
}

/** Authentication and getting started sections **/

.section.authenticator,
.section.get-started {
  padding: 20px 40px;
  width: 60%;
  box-sizing: border-box;
}

.section.authenticator .title-logo-small,
.section.get-started .title-logo-small {
  display: none;
}

.section.authenticator .question {
  font-family: var(--font-family-ltl-heading);
  display: flex;
  flex-direction: row;
  padding: 0;
}

.section.authenticator .action-row {
  justify-content: start;
}

.section.authenticator button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  background-color: var(--colour-ltl-blue);
  color: white;
  font-size: 12px;
  font-weight: normal;
  border: none;
  margin-top: 15px;
  margin-bottom: 20px;
}

.section.authenticator button:disabled {
  background-color: darkGrey;
  color: white;
}

.section.authenticator button.inline-action {
  color: var(--colour-ltl-blue);
  background-color: inherit;
  border: none;
  width: auto;
  height: auto;
  font-size: inherit;
  padding: 0px 10px;
  margin: 0;
}
.section.authenticator button.inline-action.start-of-line {
  padding: 0;
}

.section.authenticator h2,
.section.get-started h2 {
  font-family: var(--font-family-ltl-heading);
  font-size: 46px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.section.get-started .download-button {
  background-color: var(--colour-ltl-blue);
  color: white;
}

.section.authenticator input[type="email"],
.section.authenticator input[type="password"],
.section.authenticator input[type="number"] {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 39px;
  border: solid 1px black;
  padding: 5px 10px;
  font-size: 18px;
}
.section.authenticator input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.section.authenticator #emailInput,
.section.authenticator #confirmEmailInput {
  margin-bottom: 20px;
}
.section.authenticator #passwordInput {
  margin-bottom: 40px;
}

.section.authenticator #confirmEmailInput {
  background-color: lightgray;
}

.section.authenticator .email-label-line {
  display: flex;
  justify-content: space-between;
}

.section.authenticator .email-label-line .tooltip.large {
  position: relative;
  border-bottom: 1px dotted var(--colour-ltl-blue);
  font-size: 12px;
  color: var(--colour-ltl-blue);
}

.section.authenticator .email-label-line .tooltip .tooltip-text {
  display: none;
  color: var(--colour-ltl-blue);
  background-color: white;
  text-align: left;
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 228px;
  top: 125%;
  left: 50%;
  margin-left: -126px;
  border: 2px solid var(--colour-ltl-blue);
  opacity: 0;
  transition: opacity 0.3s;
}

.section.authenticator .email-label-line .tooltip:hover .tooltip-text {
  display: block;
  opacity: 1;
}

.section.authenticator .email-label-line .tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--colour-ltl-blue) transparent;
}

.section.authenticator .email-label-line .tooltip.small {
  background-color: var(--colour-ltl-blue);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: none;
}

.tooltip-popup {
  width: 200px;
  position: relative;
  padding: 40px 20px;
  background-color: white;
  font-size: 14px;
  color: var(--colour-ltl-blue);
  border-color: var(--colour-ltl-blue);
}

.tooltip-popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--colour-ltl-red);
  border: none;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.section.authenticator .checkbox-line {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section.authenticator .checkbox-line .checkmark {
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 30px;
  border: 3px solid var(--colour-ltl-blue);
  border-radius: 5px;
  flex-shrink: 0;
}

.section.authenticator .checkbox-line .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 1px;
  width: 9px;
  height: 18px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section.authenticator .checkbox-line .checkmark.checked::after {
  display: block;
}

.section.authenticator .checkbox-line label {
  padding-left: 10px;
}

/* Activate popup menu - change app bar and nav-menu layout */
@media screen and (max-width: 1320px) {
  .app-bar.main .menu-button,
  .nav-menu-popup-modal {
    display: block;
  }
  .app-bar.main .title-logo,
  .nav-menu-container.fixed {
    display: none;
  }

  .app-bar.main .menu-button,
  .nav-menu-container.popup .menu-button {
    position: fixed;
    left: 20px;
    top: 20px;
  }

  .app-bar.main .menu-button .burger-menu {
    fill: white;
  }

  .nav-menu-container.popup .menu-button .burger-menu {
    fill: var(--colour-ltl-orange);
  }

  .nav-menu-container.popup {
    outline: 0;
    transition: transform 300ms;
    transform: none;
    padding-top: 60px;
  }
  .nav-menu-container.popup.hidden {
    transform: translateX(-380px);
  }

  .content.main {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1250px) {
  .app-bar.authenticating .title.large {
    font-size: 36px;
  }
}

@media screen and (max-width: 1080px) {
  .app-bar.authenticating .title.large {
    font-size: 30px;
  }
}

@media screen and (max-width: 990px) {
  .app-bar.main .title {
    font-size: 36px;
  }
}

@media screen and (max-width: 940px) {
  .app-bar.authenticating .title.large,
  .dialog .title {
    font-size: 24px;
  }
}

/* Switch to mobile view */
@media screen and (max-width: 915px) {
  .app-bar.authenticating .title.large,
  .app-bar .download-button span.large,
  .app-bar.authenticating .title-logo,
  .section.authenticator .email-label-line .tooltip.large {
    display: none;
  }
  .app-bar.authenticating .title.small,
  .app-bar .download-button span.small,
  .section.authenticator .email-label-line .tooltip.small {
    display: block;
  }

  .root,
  .dialog.add-note,
  .dialog.add-photos,
  .nav-menu-container.popup,
  textarea {
    font-size: 14px;
  }

  .toggle-button-group,
  .action-row .action-button-group,
  .photo-container {
    flex-direction: column;
  }

  .toggle-button-group button:not(:last-child) {
    border-bottom: none;
    border-right: 1px solid #cec6c6;
  }

  .question.select .add-note-button {
    padding-left: 0;
  }
  .action-row .action-button-group {
    padding-left: 30px;
  }

  .content {
    margin-top: 160px;
  }

  .app-bar {
    background-position: left;
    height: 160px;
  }

  .app-bar.authenticating .title.small,
  .app-bar.main .title {
    margin-left: 105px;
    margin-right: 105px;
  }

  .app-bar.authenticating .title.small {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .app-bar.authenticating .title.small .ltl-title {
    color: var(--colour-ltl-green);
  }

  .app-bar .auth-current-user {
    top: 130px;
  }

  .app-bar .download-button,
  .app-bar #restart-button,
  .app-bar #auth-signout {
    width: 75px;
    height: 30px;
  }

  .app-bar #auth-signout {
    right: 20px;
    top: 60px;
  }

  .app-bar #restart-button {
    right: 20px;
    top: 100px;
  }

  .app-bar .download-button {
    right: 20px;
    top: 20px;
  }

  .section {
    padding: 30px 10px;
  }

  .section.survey {
    padding: 80px 10px 30px 10px;
    margin-top: 0;
  }

  .section.survey .title {
    display: none;
  }

  .section .mobile-header {
    display: block;
    position: fixed;
    top: 160px;
    left: 40px;
    right: 40px;
    background-color: white;
    z-index: 1200;
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
  }

  .section .mobile-header .nav-menu-item {
    border: none;
  }

  .section.authenticator,
  .section.get-started {
    width: 70%;
  }

  .section.background .question.user-select,
  .section.background .question.user-select .selection-column {
    align-items: flex-start;
    flex-direction: column;
  }

  .section.background .question.user-select .toggle-button-group {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .section.background .question.user-select .details-column {
    margin-left: 0;
    align-self: stretch;
  }

  .section.background .question {
    padding-top: 10px;
  }

  .section.background .question.user-select .toggle-button-group button {
    width: 150px;
  }

  .section.introduction .icons-group {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .section.introduction .icons-group .icon-description:not(:first-child) {
    margin-left: 0;
    margin-top: 10px;
  }

  .section.introduction .icons-group .icon-description svg {
    margin-right: 5px;
    margin-left: 6px;
  }

  .dialog.add-note textarea,
  .question textarea,
  .photo-container textarea,
  .photo-container .photo,
  .photo-container .delete-button {
    margin-left: 0;
    margin-right: 0;
  }

  .photo-container .delete-button {
    position: absolute;
    top: 25px;
    right: 15px;
  }

  .photo-container .photo {
    max-width: 100%;
    width: 100%;
  }

  .question-text {
    margin-left: 20px;
  }

  .question.dated .dated-improvement-answer {
    padding-left: 0;
  }

  .section.authenticator .title-logo-small,
  .section.get-started .title-logo-small {
    display: block;
    align-self: center;
    margin-bottom: 20px;
  }

  .section.authenticator,
  .section.get-started {
    padding: 20px 20px;
  }

  .section.authenticator h2,
  .section.get-started h2 {
    font-size: 24px;
  }

  .section.results .large-chart {
    display: none !important;
  }
  .section.results .small-chart {
    display: block !important;
  }
  .section.results .results-chart {
    position: relative;
    margin-left: 40px;
    margin-right: 20px;
  }
  .section.results .results-chart.five-bars {
    height: 360px;
  }
  .section.results .results-chart.two-bars {
    height: 340px;
    width: 190px;
    align-self: center;
  }
}

@media screen and (max-width: 810px) {
  .app-bar.main .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 720px) {
  .app-bar.main .title {
    font-size: 26px;
  }
}

@media screen and (max-width: 640px) {
  .app-bar.authenticating .title.small,
  .app-bar.main .title {
    font-size: 22px;
  }
}

@media screen and (max-width: 580px) {
  .app-bar.authenticating .title.small,
  .app-bar.main .title {
    font-size: 18px;
  }
}

/* Hide add photos button in all sections */
.add-photos-button {
  display: none;
}